:root {
  --color-black: #111;
  --color-gray-800: rgb(53, 54, 58);
  --color-gray: #b2b2b2;

  --color-yellow-400: #febe01;
  --color-yellow-800: #332200;

  --color-orange: orange;

  --color-white: white;
}
html {
  box-sizing: border-box;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--color-gray-800);
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1280px;
  width: 100%;
}
.text-orange {
  color: var(--color-orange);
}
